@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@theme {
  --color-primary: #fdfbf7;
  --color-secondary: #eec0c0;
  --color-accent: #333333;

  --font-family-sans: 'Inter', sans-serif;
  --font-family-serif: 'Playfair Display', serif;
}

body {
  background-color: var(--color-primary);
  color: var(--color-accent);
  font-family: var(--font-family-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
}